#swap
*.swp
*.swo
*~

#compiled
*.pyc

#env
.env*

#db
travelmap/travelmap/travelmap.db

#server
.nohup.out
run_aws.sh

travelmap/travelmap/settings.py

travelmap/travelmap/settings.py

*.sublime-project

*.sublime-workspace
