body {
	padding-top: 40px; /* for the fixed nav bar*/
	background-image: url('../images/background-pngs/dark5.png');
	color: white;
}

.map-container {
	width: 100%;

}

li.option-catagory {
	width: 200px;
}

footer.navbar .container {
	height:50px;
	padding-top:10px;
}

footer.navbar .brand {
	font-size: 2.0em;
}