body {
	padding-top: 40px;
	padding-bottom: 40px; /* for the fixed nav bar*/
	background-image: url('../images/background-pngs/dark5.png');
}

.navbar .brand {
	font-size: 2.0em;
}

#app {
	width: 100%;
	height: 560px;
	margin-top: 40px;
}

#map_canvas {
	width: 100%;
	height: 100%;
}

#option-carousel {
	padding: 20px;
	margin-top: 20px;
}

#option-carousel .carousel-inner .item {
	height: 150px;
	width: 80%;
	margin: 0 auto;
}

li.option-catagory {
	width: 200px;
}

.navbar .mode-select { /* keep */
}

.navbar .container {
	height:50px;
	padding-top:10px;
	font-size: 1.3em;
}
