body {
	padding-top: 40px;
	padding-bottom: 40px; /* for the fixed nav bar*/
	background-image: url('../img/background-pngs/dark5.png');
}

.dialog-open {
	opacity: 0.5;
}

.navbar .brand {
	font-size: 2.0em;
}

ul.nav {
	width: 100%;
}

.pull-right-hard {
	float: right !important;
}

.sm-img {
	position: relative;
	top: -4px;

	-webkit-transition: -webkit-transform 0.4s;
}

.sm-img:hover {
	-webkit-transition-property: top;
	top: -7px;
}

#app {
	width: 100%;
	height: 750px;
	margin-top: 40px;
}

#map_canvas {
	width: 100%;
	height: 100%;
}

#option-carousel {
	position: absolute;
	width: 60%;
	min-width: 810px;
	z-index: 50;
	top: 30%;
	left: 20%;
	
	padding: 20px;
	margin: 0 auto;
	overflow: hidden;
}

#option-carousel .carousel-inner .item {
	height: 200px;
	margin: 0 auto;
	margin: 0 auto;
	overflow: hidden;
}

#carousel-navbar {
	margin: 0;
	padding-top: 20px;
}

.carousel-inner {
	display: inline;
	overflow: hidden;
}

.all-prefs-container {
	width: 100%;
}

.user-options h2 {
	margin: 0;
}

button.update {
	float: right;
}

.tab-pane {
	height: 100px;
}

.slider {
	width: 300px;
	height: 10px;
}

.ui-slider-handle {
	-webkit-transform: rotate(45deg);
	top: -13px !important;
}

.ui-slider-handle:hover {
	cursor: pointer;
}

.ui-slider-handle.ui-state-active {
	background-color: #006dcc !important;
}

p.amount {
	margin: 20px;
	line-height: 25px;

}

.navbar .mode-select {
	display: inline;
	width: 115px;
}

.navbar .container {
	height:50px;
	padding-top:10px;
	font-size: 1.3em;
}

.cityOverlayContainer {
	border-radius: 15px;
	-webkit-border-bottom-left-radius: 0px;
}

.cityOverlay {
	display: block;
	text-align:center;
}

.cityOverlay h3, .cityOverlay h4 {
	line-height:0.75em;
}
.cityOverlay p {
	display: inline;
}

.point-to-pin {
	width:15px;
	height:15px;
	display: inline;

	position: relative;
	left:-25px;
	-webkit-transform: rotate(0deg);
}
