body {
	padding-top: 40px; /* for the fixed nav bar*/
	background-image: url('../images/background-pngs/dark5.png');
	color: white;
}

.navbar .brand {
	font-size: 2.0em;
}

#app {
	width: 100%;
	height: 530px;
	margin-top: 40px;
}

#map_canvas {
	width: 100%;
	height: 100%;
}

#option-carousel {
	/*hacky styles - to be removed* /
	background-color: yellow;
	/* end hacky styles*/

	padding: 20px;
	margin-top: 20px;
}

#option-carousel .carousel-inner .item {
	height: 150px;
	width: 80%;
	margin: 0 auto;
}

#type {
	background-color: red;
}
#flights {
	background-color: blue;
}
#to-do {
	background-color: green;
}


li.option-catagory {
	width: 200px;
}

.navbar .mode-select {
	margin: 0 auto;
}

.navbar .container {
	height:50px;
	padding-top:10px;
	font-size: 1.3em;
}

.navbar .container {

}
